h1, h2, p {
  text-align: center;
}

.menu{
  width: 80%;
  background-color: rgb(144, 222, 228);
  margin-left: auto;
  margin-right: auto;
}

img{
  width: 100px;
  margin: auto;
  display: block;
}

hr {
  margin: 0px 30px;
  height: 3px;
  background-color: black;
  border-color:black;
}